<% include ../layout/header%>

<h2>Table is here</h2>

<table style="width:100% align=center">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
  <% users.forEach((user)=>{%>
  <tr>
    <td >
        <%=user.id%>
    </td>
    <td>
        <%=user.name%>
    </td>
    <td>
        <%=user.age%>
    </td>
    <td>
        <form method="GET" action='/users/:<%=user.id%>/edit' style="display:inline" >
                <input type="submit" value="edit">
        </form>
                <button onclick="window.location.href='/users/:<%=user.id%>/delete'" >delete</button>
    </td>
  </tr>
  <%})%>
</table>

<% include ../layout/footer%>